.home-page-container {
}

.char-section-container {
}

.char-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.char-list {
    margin: 10px;
}

.char-link {
    margin: 10px;
}