.profile-dropdown {
  display: flex;
  position: absolute;
  padding: 20px;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #14181C;
  box-shadow: #88AABB;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-container {
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
  display: flex;
  width: 100%;
  height: 72px;
  margin-bottom: 60px;
  background-color: #14181C;
}

.nav {
  display: flex;
  height: 72px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.home, 
.profile, 
.new-char,
.new-tale,
.login,
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #88AABB;
  text-decoration: none;
  padding: 30px;
  margin-top: 0;
}

.home:hover, 
.profile:hover, 
.new-char:hover,
.new-tale:hover,
.login:hover,
.signup:hover,
.logout:hover {
  color: white;
}

.logout {
  background-color: #2C3440;
  padding: 10px;
}

.signup-button,
.login-button,
.demo-button {
  background-color: #14181C;
  padding: 10px;
}