.profile-dropdown {
  position: absolute;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-container {
  display: flex;
  height: 72px;
  background-color: #14181C;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.home, 
.profile, 
.new-char {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 10px;
}

