.profile-dropdown {
  position: absolute;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-container {
  display: flex;
  height: 72px;
  background-color: #14181C;
}

.nav {
  display: flex;
  height: 72px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.home, 
.profile, 
.new-char,
.login,
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #88AABB;
  text-decoration: none;
  padding: 30px;
  margin-top: 0;
}

.home:hover, 
.profile:hover, 
.new-char:hover,
.login:hover,
.signup:hover {
  color: white;
}

.logout,
.signup-button,
.login-button,
.demo-button {
  background-color: #14181C;
  padding: 10px;
}