.login-form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.email-label,
.password-label {
    color: #88AABB;
    align-items: center;
}

.login-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-button,
.demo-button {
    color: #88AABB;
    margin-top: 10px;
    width: 100px;
    padding: 5px;
}

.login-button:hover,
.demo-button:hover {
    color: white;
}